.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  a{
      color:green;
      font-size: 25px;
  }
  div{
    
    width: 1400px;
    border: 20px;
    padding: 50px;}
    /*margin: 20px;
}
